- content_for :body_content_title do
  = @event.title
- content_for :body_content_left do
  %h4
    - if current_registration.event_id == @event.id
      Registered for: #{pluralize(current_registration.quantity, 'canvas')}
      <br/ >
    - if @event.venue
      Location: #{@event.venue_name}
    - if @event.venue_address.present?
      = " - "
      = link_to '(google map)', "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{CGI::escape(@event.venue.address)}&ie=UTF8&z=16"
      %br/
    - if @event.over_21
      %strong ADULTS ONLY: 21 Years and older
    - if @event.from
      Time: #{@event.from.strftime('%B %d, %Y %I:%M%p')}
      to #{@event.to.strftime('%I:%M%p')}
    = number_to_currency(@event.seat_cost, precision: 0)
  - if @event.image
    = image_tag @event.image.thumb("400x400").url, :class => 'event-image'
  .event_description
    %h4= @event.excerpt
    - if @event.private_event
      %span This is a private event.
    - else
      - if @event.upcoming? && current_registration.event_id != @event.id
        #register-now
          = link_to "Register Now", "/registrations/new?event_id=#{@event.id}", :class => "button"
    .clear-left
      = raw @event.description
- content_for :stylesheets, stylesheet_link_tag('events')
= render '/refinery/content_page'
